* {
  padding: 0;
  margin: 0;
  font-family: 'SF Display', arial;
  box-sizing: border-box;
  color: $darkGrayFont;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

main {
  position: absolute;
  margin: 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.main--content {
  width: 90%;
}

p {
  font-size: 20px;
}

.undercover-hr {
  margin: 1.5rem auto;
  height: 2px;
  border-radius: 1px;
  background-color: $lightGrayFont;
  opacity: 0.1;
  width: 95%;
  justify-content: center;
}
