.identity-skills {
  display: flex;
  justify-content: space-between;
}

.card--identity {
  max-width: 500px;
  margin-right: 2rem;
}

.card__name {
  display: flex;
  align-items: center;
  h1 {
    color: $darkGrayFont;
    font-size: 30px;
    font-weight: 500;
  }

  button {
    margin-left: 2rem;
    background-color: #dcdcdc;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 5rem;
    height: 1.7rem;
    color: #2c80fe;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.7rem;
    cursor: pointer;
    &:hover {
      background-color: #e9e9e9;
    }
    &:active {
      background-color: #cacaca;
    }
  }
}

.card__job {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  h3 {
    font-weight: 300;
    font-size: 22px;
    color: #beb2a5;
  }
}

.card__info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  img {
    width: 30px;
    margin-right: 1rem;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  p {
    margin-bottom: 1rem;
    color: $darkGrayFont;
  }

  .info__email {
    &::before {
      align-items: center;
      background-image: url('/images/email.icon.png');
      background-size: 25px;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 22px;
      content: '';
    }
  }

  .info__phone {
    &::before {
      align-items: center;
      background-image: url('/images/phone.png');
      background-size: 20px;
      background-repeat: no-repeat;
      display: inline-block;
      margin: auto;
      vertical-align: middle;
      width: 35px;
      height: 25px;
      content: '';
    }
  }
  .info__birthday {
    &::before {
      align-items: center;
      background-image: url('/images/Cake.png');
      background-size: 25px;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      content: '';
    }
  }
}

.stacks {
  position: relative;
  margin-left: 2rem;
  min-width: 500px; /*not sure what's going on here*/
  display: flex;
  justify-content: center;
}

.card--skills {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
}

.card--skills-2 {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
}

.card--hidden {
  top: 1rem;
  width: 98%;
  z-index: -1;
  pointer-events: none;
  transition: all 0.5s;
  img {
    opacity: 0 !important;
  }
  h2 {
    opacity: 0 !important;
  }
  h1 {
    opacity: 0 !important;
  }
}

.card__skills_list {
  h2 {
    color: $grayFont;
    font-size: 28px;
    font-weight: 500;
    transition: opacity 0.5s;
  }
}

.card__skills_item {
  margin-bottom: 0.8rem;
  vertical-align: middle;
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  transition: opacity 0.5s;
  h2 {
    opacity: 1;
  }
}

.rating {
  margin-right: 2rem;
  display: flex;
  height: 30px;
  h2 {
    margin: 0 1rem;
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.5s;
  }
  img {
    align-self: center;
    width: 20px;
    margin: 0 0.2rem;
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.see--more--btn {
  user-select: none;
  margin: 1.8rem auto 0 auto;
  display: flex;
  h3 {
    font-weight: 300;
    color: $lightGrayFont;
  }
  &:hover {
    cursor: pointer;
  }
}
