@import 'colors';
@import 'global';
@import 'bigCards';
@import 'smallCards';

.status-bar {
  padding-top: 5px;
  height: 25px;
  width: 100%;
  p {
    text-align: center;
  }
}

header {
  height: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  h1 {
    font-size: 80px;
    margin: 0.5rem 0;
    letter-spacing: -2px;
  }
  h3 {
    color: #9d9d9d;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 30px;
  }
}

#profile-image {
  position: absolute;
  right: 1rem;
  border-radius: 50%;
  width: 220px;
}

.card {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  background-color: $background;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.2);
}

.small--card {
  flex: 1;
  width: 30rem;
  min-width: 500px;
}

.big--card {
  width: 100%;
  margin: 2.5rem 0;
}

.card__heading {
  vertical-align: bottom;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  img {
    width: 40px;
    margin-right: 2rem;
  }
  h1 {
    font-size: 40px;
    margin-top: 0.2rem;
    color: #b8b9b8;
  }
}
